body {
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 8rem;
    margin: 10px;
}

#diary {
    height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer li {
    display: inline-block;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

footer li a {
    text-decoration: none;
}

footer li a:hover {
    text-decoration: none;
}

footer li a:visited {
    text-decoration: none;
}